// This page contains code that is intended specifically to be used on the Landing Pages

// Defining Landing Page background color
body.lp-body {
    background: #f9f9f9;
    
    // Pushes footer to base of page
    .main {
        min-height: 95vh;
        
        .main-content {
            background: #fff;
            border-bottom: 1px solid #eee;
        }
    }
}

// Logo and heading styles
.lp-logo {
    position: relative;
    left: -17px;
    
    @media (max-width: $screen-xs-max) {
        left: 0;
    }
}
.lp-header {
    margin-top: 15px;
    margin-bottom: 75px;
    @media (max-width: $screen-xs-max) {
        margin-bottom: 15px;
    }
}

// Landing page asset image styling {
.lp-asset-img {
    position: relative;
    margin-right: 30px;
    
    img {
        width:100%;
        height: auto;
        z-index: 1;
        display: block;
    }
    
    .default-asset-img {
        position: absolute;
        transform-origin: top-right;
        -webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.45); 
        -moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.45); 
        box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.45);
    }
    
}

// Styling intended for the bottom "sanded glass" third of follow-up resource images when viewed on mobile
@media (max-width: $screen-xs-max) {
    .lp-mobile-resource {
        position: relative;
        overflow: hidden;
        background: white;
    
        div.blur-background {
            position: absolute;
            width: 100%;
            height: 0;
        
            img {
                transform: translate(0, -66%);
                filter: blur(3px) opacity(50%);
                -webkit-filter: blur(3px) opacity(50%);
            }
        }
    
        div.content {
            position: relative;
            padding: 12px;
            background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 3%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        }
    }
}

// Intended for anchor tags surrounding div elements. The hover state background color is removed on mobile because of the above resource styling.
a.lp-div-link {
    color: #333;
    
    &:hover, &:focus {
        text-decoration: none;
        color: #333;
    }
    
    > div:hover {
        background: #eee;
        
        @media (max-width: $screen-xs-max) {
            background: #fff;
        }
    }
}