// Targets Marketo Forms and applies Boostrap styling.
// Extends from _forms.scss


// Apply Boostrap's form-control to relevant elements. High specificity used to override Marketo Styles. 
// Min width prevents revealed hidden fields from collapsing
.mktoForm .mktoFormRow .mktoFieldWrap {
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
        @extend .form-control;
        min-width: 100%
    } 
}

// Expand to full width
.mktoForm .mktoFieldWrap {
    width: 100%;
}

// Hide Unnecessary elements
.mktoForm .mktoGutter, .mktoForm .mktoAsterix, .mktoForm .mktoOffset {
    display: none !important;
}

// Reapply Label margin
// Min width prevents revealed hidden labels from collapsing
.mktoForm .mktoFormRow .mktoFieldWrap label.mktoLabel {
    margin-bottom: 5px;
    min-width: 1px;
}

// Make Rows akin to row divs - they remove extra side margin from the children's gutter padding
// Make Rows flexible
.mktoForm .mktoFormRow {
    margin-left: -15px;
    margin-right: -15px;
    
    @media (min-width: $screen-sm-min) {
        display: flex;
        flex-direction: row;
    }
}

// Reapply form row margin, add column gutters
// Accommodate any number of columns 
.mktoForm .mktoFormCol {
    padding: 0 15px;
    margin-bottom: 15px !important;
    width: 100%;
    
    @media (min-width: $screen-sm-min) {
        flex-grow: 1;
        flex-basis: 0;
    }
}

// Button spacing
.mktoForm .mktoButtonRow {
    padding: 10px 0;
}

// Make button purty
.mktoButtonRow .mktoButtonWrap button {
    @extend .btn;
    @extend .btn-soft-magic;
}

// Margin on bottom
.mktoForm form {
    min-width: 100%;
    margin-bottom: 30px;
}

// Fix Radio button labels
.mktoForm .mktoRadioList label {
    font-weight: normal;
}
.mktoForm .mktoRadioList {
    width: 100%;
}

