// Targets Marketo Forms and applies Boostrap styling.
// Extends from _forms.scss


// Apply Boostrap's form-control to relevant elements. High specificity used to override Marketo Styles
.mktoForm .mktoFormRow .mktoFieldWrap {
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
       @extend .form-control;
    } 
}


// Expand to full width
.mktoForm .mktoFieldWrap, .mktoForm .mktoFormCol {
    width: 100%;
}

// Hide Unnecessary elements
.mktoForm .mktoGutter, .mktoForm .mktoAsterix, .mktoForm .mktoOffset {
    display: none !important;
}

// Reapply Label margin
.mktoForm .mktoFormRow .mktoFieldWrap label.mktoLabel {
    margin-bottom: 5px;
}

// Reapply form row margin
.mktoForm .mktoFormRow {
    margin-bottom: 15px;
}